body{
    background-color: grey;
}

table, th. td{
    border: 1px solid;
    border-collapse: collapse;
}

th, td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid;
}

th{
   text-align: left;
    height: 50px;
}

table{
border-spacing: 3px;
    position: relative;
    top: 25px;
   left: 30px;
    border-collapse: collapse;
    width: 90%;
}

td{
    
height: 50px;
    vertical-align: bottom;
}



h3{
  font-family: sans-serif;
  font-size: 25px;
   color: blue;
   display: block;
   padding: 3px;
     
}
p{
  font-family: sans-serif;
    font-size: 25px;
    color: blue;
    display: block;
    background-color: black; 
    padding: 5px;
    margin: 5px;
    
}

.dropdown,
.flyout {
 position: relative;
}

.dropdown:after {
  content: "\25BC";  
  font-size: .5em;
 display: block;
position: absolute;
top: 38%;
right: 7%;
    
}

.drop-nav,
.flyout-nav {
 position: absolute;
display: none;

}

.dropdown:hover > .drop-nav,
.flyout:hover > .flyout-nav {
   display: block; 
    
}

.flyout-nav{
    left: 100%;
    top: 0%;
}


.flyout-nav{
    background-color: aqua;
}





ul{
    
    background-color: blue;
    list-style-type:none;
    padding-left: 5px;
    border: 1px solid;
    display: block;
}

li{
    
background: blue;
    float: left;
    padding: 15px;
    position: relative;
}

a{
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    color: #ffffff;
}

li:hover{
    background: lightblue;
    cursor: pointer;
}

ul li ul {
  visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 16px;
    left: 0;
    
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    
}

ul li ul li {
    width: 100%;
}

.main-header{
    margin: auto;
    width: 75%;
    border: 2px solid;
}


.grid-container{
    display: grid;
    
}